table{
    
    width: 100%;
    border-style: groove;
}
td{
    font-size: 20px;
    color: peru;
    background-color: linen;
    border-style:ridge;
    border-color: lightslategrey;
    border-width: 1px;
}


ul{
list-style: decimal-leading-zero;
}
.delayed{
text-decoration: line-through;
}
.cola{
    color: peru;
}